<nav class="navigation">
    <div routerLink="" class="navigation__top">
        <div class="navigation__top-wrapper">
            <p class="navigation__logo">M</p>
            <p class="navigation__logo">K</p>
        </div>
        <p class="navigation__logo-text">Master Key</p>
    </div>

    <ul class="navigation__list">
        <li class="navigation__item">
            <a routerLink="" class="navigation__link navigation__link--comprises">
                Обзор
                <i class="gg-chevron-down"></i>
            </a>
            <ul class="navigation__sublist">
                <li class="navigation__sublist-item">
                    <div class="navigation__icon-wrapper">
                        <i class="gg-tikcode"></i>
                    </div>
                    <a routerLink="" class="navigation__link">Статистика</a>
                </li>
                <li class="navigation__sublist-item">
                    <div class="navigation__icon-wrapper">
                        <i class="gg-home-alt"></i>
                    </div>
                    <a routerLink="" class="navigation__link">Лучшие предложения</a>
                </li>
                <li class="navigation__sublist-item">
                    <div class="navigation__icon-wrapper">
                        <i class="gg-profile"></i>
                    </div>
                    <a routerLink="" class="navigation__link">Лучшие арендодатели</a>
                </li>
                <li class="navigation__sublist-item">
                    <div class="navigation__icon-wrapper">
                        <i class="gg-attachment"></i>
                    </div>
                    <a routerLink="" class="navigation__link">Отчеты</a>
                </li>
                <li class="navigation__sublist-item">
                    <div class="navigation__icon-wrapper">
                        <i class="gg-edit-unmask"></i>
                    </div>
                    <a routerLink="" class="navigation__link">Услуги</a>
                </li>
            </ul>
        </li>
        <li class="navigation__item">
            <a routerLink="Rent" class="navigation__link">Аренда квартир посуточно</a>
        </li>
        <li class="navigation__item">
            <a routerLink="" class="navigation__link">Аренда квартир длительно</a>
        </li>
        <li class="navigation__item">
            <a routerLink="" class="navigation__link">Апартаменты</a>
        </li>
        <li class="navigation__item">
            <a routerLink="" class="navigation__link">Отели</a>
        </li>
    </ul>

    <div class="navigation__bottom">
        <a routerLink="" class="navigation__faq navigation__link">
            Faq
            <i class="gg-chevron-double-right"></i>
        </a>
        <div class="navigation__support-vidget">
            <img class="navigation__support-vidget-avatar" src="assets/avatar.jpg" alt="support Lena Ted">
            <span class="navigation__support-vidget-text">Елена Кошкина</span>
            <i class="gg-bell"></i>
        </div>
    </div>

</nav>