.home-navigation {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        display: block;
        width: 200px;
        
        &:last-child {
            margin-left: auto;
        }
    }
}