<nav class="home-navigation">
    <ul class="home-navigation__list">
        <li class="home-navigation__item">
            <a routerLink="">Overview</a>
        </li>
        <li class="home-navigation__item">
            <a routerLink="">Work orders</a>
        </li>
        <li class="home-navigation__item">
            <a routerLink="Rent">Rent</a>
        </li>
        <li class="home-navigation__item">
            <a routerLink="">Collections</a>
        </li>
        <li class="home-navigation__item">
            <a routerLink="">Access</a>
        </li>
        <li class="home-navigation__item">
            <a routerLink="">Faq</a>
        </li>
    </ul>
</nav>